
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

public/uploads
!public/uploads/pets/.gitkeep
!public/uploads/pet-categories/.gitkeep